<div class="container">
  <h2>Deletar Livros</h2>

  <p *ngIf="carregando">Carregando livros...</p>
  <p *ngIf="erro" class="erro">{{ erro }}</p>

  <div *ngIf="livros.length === 0">Nenhum livro encontrado.</div>

  <div class="livro-card" *ngFor="let livro of livros">
    <label>
      <input type="checkbox" 
             *ngIf="livro.id !== undefined"
             [value]="livro.id" 
             (change)="toggleSelecionado(livro.id, $event)">
      <span class="livro-info">
        <strong>ID:</strong> {{ livro.id }} |
        <strong>Título:</strong> {{ livro.titulo }} |
        <strong>Autor:</strong> {{ livro.autor }}
         <strong>Preço:</strong> {{ livro.preco}}
      </span>
    </label>
  </div>

  <div class="botoes">
    <button (click)="deletarLivro()" [disabled]="livrosSelecionados.length === 0" class="btn btn-danger">
      Deletar Selecionados
    </button>
    <button (click)="deletarLivro()" class="btn btn-warning">
      Deletar Todos
    </button>
  </div>
</div>
