.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.livro-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.livro-info {
  margin-left: 10px;
}

.botoes {
  margin-top: 15px;
}

.btn {
  padding: 8px 12px;
  margin-right: 10px;
  cursor: pointer;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
  border: none;
}

.btn-danger:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.btn-warning {
  background-color: #ffc107;
  color: black;
  border: none;
}
